#!/bin/bash

PAGE="{{ page }}"
sleep 5
xset s noblank
xset s off
xset -dpms

unclutter -idle 0.5 -root &

firefox -kiosk -private-window $PAGE &

while true; do
         xdotool keydown ctrl+Next; xdotool keyup ctrl+Next;
      sleep 15
done